@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "lato";
  height: 100%;
  width: 100%;
  overflow: scroll;
}

@font-face {
  font-family: "lato";
  src: url(font/Lato Light.ttf);
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: "lato";
  src: url(font/Lato-Regular.ttf);
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: "lato";
  src: url(font/Lato Medium.ttf);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "lato";
  src: url(font/Lato Heavy.ttf);
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "lato";
  src: url(font/Lato Black.ttf);
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "lato";
  src: url(font/Lato Bold.ttf);
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "playfair";
  src: url(font/PlayfairDisplay-Regular.ttf);
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: "playfair";
  src: url(font/PlayfairDisplay Bold.ttf);
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "mostra";
  src: url(font/Mostra Nuova/Mostra Nuova AltD Bold.otf);
  font-style: normal;
  font-weight: 700;
}

@layer utilities {
  .quote {
    width: 30px;
    height: 30px;
    clip-path: polygon(0 0, 21% 0, 20% 21%, 0 40%);
  }

  .list-item {
    @apply cursor-pointer hover:text-gray-500 ease-in-out duration-300 pt-1 text-[17px];
  }

  .badge:after {
    content: attr(value);
    font-size: 12px;
    color: #fff;
    background: #0f89e6;
    border-radius: 50%;
    padding: 4px 8px;
    position: relative;
    left: -8px;
    top: -10px;
    opacity: 0.9;
  }
  .logo:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0.5em;
    border-top: 1px solid black;
    z-index: -1;
  }
  .auth-item {
    @apply py-[4.5px];
  }
  .sticky {
    position: sticky;
    top: 0;
    width: 100%;
  }

  .logo {
    position: relative;
    text-decoration: none;
  }

  .logo:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 43%;
    height: 0.5em;
    border-top: 2px solid black;
    z-index: 1;
  }

  .logo-desktop {
    position: relative;
    text-decoration: none;
  }

  .logo-desktop:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 47%;
    height: 0.5em;
    border-top: 2px solid black;
    z-index: 1;
  }
  .vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}
